
*{
    margin: 0%;
    padding: 0%;
}

/* INDEX */

.fondoGeneral{
    background-image: url(../img/fondo-general.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloIndex{
    font-family: 'Righteous';
    font-size: 80px;
    color: white;
    margin: 250px 50px 0px 80px;
}

.textoIndex{
    font-family: 'Cabin', 'sans-serif';
    font-size: 30px;
    color: rgb(194, 192, 192);
    margin: 0px 50px 0px 80px;

}

.subtituloIndex{
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: bold;
}

/* NAV INDEX */

.navegadorIndex{
    margin: 30px 75px 0px 105px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px black;
}

.navegadorIndex form a{
    margin: 5px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Cabin', 'sans-serif';
    color: white;
}

/* PAGINA PRESUPUESTO */

.col-6{
    width: 100%;
}

.row{
    width: 100%;
}

.fondoPaginas{
    background-color: black;
}

.fondoBloque{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);
    /* padding: 3px; */
    margin: 0px 0px 1rem 0px;
}

.cardsPresupuestos{
    padding: 5px;
    text-align: center;
}

.tituloPresupuesto{
    font-family: 'Righteous';
    font-size: 80px;
    color: white;
    text-align: center;
}

.subitulosPresupuestos{
    font-family: 'Cabin', 'sans-serif';
    font-size: 29px;
    padding: 5px;
    margin-bottom: 0px;
}

.subitutloNiveles{
    color: rgb(194, 192, 192);
    text-align: center;
    font-weight: bolder;
}

.textoPresupuesto{
    font-family: 'Cabin', 'sans-serif';
    font-size: 30px;
    color: rgb(194, 192, 192);
    text-align: center;
}

.textoPrecios p{
    padding-top: 5px;
    margin-bottom: 5px;
    font-family: 'Cabin', 'sans-serif';
}

.tituloExplicativo{
    color: white;
    font-family: 'Cabin', 'sans-serif';
    font-size: 23px;
    text-decoration: underline;
}

.tituloExplicativoNegro{
    color: black;
    font-family: 'Cabin', 'sans-serif';
    font-size: 23px;
    text-decoration: underline;
}

.textoExplicativo{
    color: white;
    font-family: 'Cabin', 'sans-serif';
    font-size: 19px;
    text-align: justify;
}

.textoExplicativoNegro{
    color: black;
    font-family: 'Cabin', 'sans-serif';
    font-size: 19px;
    text-align: justify;
}

.list-group-item{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.svgCheck{
    color: green;
}

.svgCruz{
    color: red;
}

h3{
    font-size: 18px;
    font-family: 'Cabin', 'sans-serif';
    text-align: center;
    margin: 0px;
    line-height: 28px;
}

.botonPresupuestos{
    text-decoration: none;
    color: rgb(80, 74, 74);
    font-family: 'Cabin', 'sans-serif';
}

.botonPresupuestos:hover{
    text-decoration: underline;
    color: white;
    background-color: black;
    font-family: 'Cabin', 'sans-serif';
}

/* NAV PAGINAS */

.navegadorPaginas ul{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navegadorPaginas ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 500;
}